<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SConsonants</key>
	<string>rsbkdfgxwklmnptʧʎɾʝɲ</string>
	<key>SDialect</key>
	<string>Western</string>
	<key>SLanguage</key>
	<string>Spanish</string>
	<key>SNonSyllabicVowels</key>
	<string>ĭŭ</string>
	<key>SPhonemicIdentities</key>
	<dict>
		<key>+r</key>
		<string>r</string>
		<key>+x</key>
		<string>s</string>
		<key>a</key>
		<string>a</string>
		<key>b</key>
		<string>b</string>
		<key>c</key>
		<string>k</string>
		<key>ce</key>
		<string>se</string>
		<key>ch</key>
		<string>ʧ</string>
		<key>ci</key>
		<string>sĭ</string>
		<key>cé</key>
		<string>sé</string>
		<key>cí</key>
		<string>sí</string>
		<key>d</key>
		<string>d</string>
		<key>e</key>
		<string>e</string>
		<key>f</key>
		<string>f</string>
		<key>g</key>
		<string>g</string>
		<key>ge</key>
		<string>xe</string>
		<key>gi</key>
		<string>xĭ</string>
		<key>gí</key>
		<string>xí</string>
		<key>gü</key>
		<string>w</string>
		<key>h</key>
		<string></string>
		<key>i</key>
		<string>ĭ</string>
		<key>j</key>
		<string>x</string>
		<key>k</key>
		<string>k</string>
		<key>l</key>
		<string>l</string>
		<key>ll</key>
		<string>ʎ</string>
		<key>m</key>
		<string>m</string>
		<key>n</key>
		<string>n</string>
		<key>o</key>
		<string>o</string>
		<key>p</key>
		<string>p</string>
		<key>q</key>
		<string>k</string>
		<key>qu</key>
		<string>k</string>
		<key>r</key>
		<string>ɾ</string>
		<key>rr</key>
		<string>r</string>
		<key>s</key>
		<string>s</string>
		<key>t</key>
		<string>t</string>
		<key>u</key>
		<string>ŭ</string>
		<key>v</key>
		<string>b</string>
		<key>w</key>
		<string>w</string>
		<key>x</key>
		<string>ks</string>
		<key>y</key>
		<string>ʝ</string>
		<key>y+</key>
		<string>ĭ</string>
		<key>z</key>
		<string>s</string>
		<key>á</key>
		<string>á</string>
		<key>é</key>
		<string>é</string>
		<key>í</key>
		<string>í</string>
		<key>ñ</key>
		<string>ɲ</string>
		<key>ó</key>
		<string>ó</string>
		<key>ú</key>
		<string>ú</string>
	</dict>
	<key>SVowels</key>
	<string>aeiouáéíóúäëïöüăĕĭŏŭ</string>
	<key>SOrthographicClusters</key>
	<array>
		<string>pl</string>
		<string>bl</string>
		<string>tl</string>
		<string>gl</string>
		<string>fl</string>
		<string>pɾ</string>
		<string>bɾ</string>
		<string>tɾ</string>
		<string>dɾ</string>
		<string>gɾ</string>
		<string>fɾ</string>
	</array>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
